
<div *ngIf="!detail && car" class="row justify-content-center">
    <h1 class="row justify-content-center">Details</h1>
    <h4 class="row justify-content-center"> for {{car.Make}} {{car.Model}}</h4>
    <p class="data"><span class="title">Car make:</span> <span class="client-value">{{car?.Make}}</span> </p>
    <p class="data"><span class="title">Model:</span> <span class="client-value">{{car?.Model}}</span></p>
    <p class="data"><span class="title">Year:</span> <span class="client-value">{{car?.Year}}</span> </p>
    <p class="data"> <span class="title">Fuel type:</span> <span class="client-value">{{car?.FuelType}}</span></p>
    <p class="data"> <span class="title">HorsePower:</span> <span class="client-value">{{car?.HorsePower}}</span></p>
    <p class="data"> <span class="title">Colour:</span> <span class="client-value">{{car?.Colour}}</span></p>
    <p class="data"> <span class="title">Price:</span> <span class="client-value">{{car?.Price}}</span></p>
    <p class="data"> <span class="title">Store:</span> <span class="client-value">{{car?.Store}}</span></p>
    <br>
    <button class="btn btn-primary detail" (click)="detail=true">Edit car</button>
    <button routerLink="/cars" class="btn btn-primary detail">Back</button>
</div>


<!-- ---------------------------------------------------------------------------------- -->

<div class="row justify-content-center">
    <div class="col-4" *ngIf="car && detail">
        <h1>Edit Car</h1>
        <form #editCar="ngForm" (ngSubmit)="edit(editCar)">

            <div class="mb-4">
                <label for="carMake" class="form-label">Car make</label>
                <input ngModel #carMakeInput="ngModel" name="carMake" type="text"
                    class="form-control" id="carMake" aria-describedby="emailHelp" [ngModel]="car.Make">
            </div>
            <!-- <ng-container *ngIf="firstNameInput.touched && firstNameInput.invalid">
                <div *ngIf="firstNameInput.errors?.required" style="background-color: rgb(255, 133, 133);">First Name is
                    required!</div>
                <div *ngIf="firstNameInput.errors?.minlength" style="background-color: rgb(255, 133, 133);">First Name
                    must be 3 chars minimum</div>
            </ng-container> -->

            <div class="mb-4">
                <label for="carModel" class="form-label">Model</label>
                <input ngModel #carModelInput="ngModel" name="carModel" type="text"
                    class="form-control" id="carModel" aria-describedby="emailHelp" [ngModel]="car.Model">
            </div>
            <!-- <ng-container *ngIf="lastNameInput.touched && lastNameInput.invalid">
                <div *ngIf="lastNameInput.errors?.required" style="background-color: rgb(255, 133, 133);">Last Name is
                    required!</div>
                <div *ngIf="lastNameInput.errors?.minlength" style="background-color: rgb(255, 133, 133);">Last Name
                    must
                    be 3 chars!</div>
            </ng-container> -->

            <div class="mb-4">
                <label for="carYear" class="form-label">Year</label>
                <input ngModel #yearInput="ngModel" name="year" type="text" 
                class="form-control" id="carYear" aria-describedby="emailHelp" [ngModel]="car.Year">
            </div>
            <!-- <ng-container *ngIf="egnInput.touched && egnInput.invalid">
                <div *ngIf="egnInput.errors?.required" style="background-color: rgb(255, 133, 133);">EGN is
                    required!</div>
                <div *ngIf="egnInput.errors?.minlength" style="background-color: rgb(255, 133, 133);">EGN should
                    be 10 chars!</div>
            </ng-container> -->

            <div class="mb-4">
                <label for="carFuelType" class="form-label">FuelType</label>
                <input ngModel #fuelTypeInput="ngModel" name="fuelType" type="text"
                    class="form-control" id="carFuelType" aria-describedby="emailHelp" [ngModel]="car.FuelType">
            </div>

            <div class="mb-4">
                <label for="carHorsePower" class="form-label">HorsePower</label>
                <input ngModel #horsePowerInput="ngModel" name="horsePower" type="text"
                    class="form-control" id="carHorsePower" aria-describedby="emailHelp" [ngModel]="car.HorsePower">
            </div>

            <div class="mb-4">
                <label for="carColour" class="form-label">Colour</label>
                <input ngModel #colourInput="ngModel" name="colour" type="text"
                    class="form-control" id="carColour" aria-describedby="emailHelp" [ngModel]="car.Colour">
            </div>

            <div class="mb-4">
                <label for="carPrice" class="form-label">Price</label>
                <input ngModel #priceInput="ngModel" name="price" type="text"
                    class="form-control" id="carPrice" aria-describedby="emailHelp" [ngModel]="car.Price">
            </div>

            <div class="mb-4">
                <label for="carStore" class="form-label">Store</label>
                <input ngModel #storeInput="ngModel" name="store" type="text"
                    class="form-control" id="carStore" aria-describedby="emailHelp" [ngModel]="car.Store">
            </div>

            <!-- <ng-container *ngIf="AddressInput.touched">
                <div *ngIf="AddressInput.errors?.required" style="background-color: rgb(255, 133, 133);">Password
                    confirm
                    is required!</div>
                <div *ngIf="AddressInput.errors?.minlength" style="background-color: rgb(255, 133, 133);">Password
                    should
                    be 3 chars minimum!</div>
            </ng-container> -->

            <div>
                <button type="submit" class="btn btn-primary edit">Edit</button>
                <button routerLink="/cars" class="btn btn-primary edit">Back</button>
            </div>

        </form>
    </div>
</div>
<p *ngIf="!car" class="loading">Loading...</p>